## Hi there, I'm Mike

In the past 2 weeks I've contributed to ${this.joinWithFinalSep(
  this.languages.map(({name, color}) => this.makeShield(name, color)), ", ", " and "
)} repositories with topics like ${this.joinWithFinalSep(
  this.topics.map(({name, url}) => this.makeShield(name, "blue", url)), ", ", " and "
)}.
