Hi there, I'm **Mike**, a ![software engineer](https://img.shields.io/static/v1?style=flat-square&label=&message=software%20engineer&color=navy) and ![OSS contributor](https://img.shields.io/static/v1?style=flat-square&label=&message=OSS%20contributor&color=navy)!

##### Contributed

In the past couple of weeks, some contributions I've made are to:

###### Languages

${this.joinWithFinalSep(
  this.languages.map(({name, color}) => this.makeShield(name, color, "", true)), " ", " "
)}

###### Topics

${this.joinWithFinalSep(
  this.topics.map(({name, url}) => this.makeShield(name, "blue", url)), " ", " "
)}

###### Organizations

${this.makeOrgTable(this.orgs)}
