name: CI

on:
  push: {}

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: recently-contributed
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Install packages
        run: npm install
      - name: Run tests
        run: npm test
  rebuild:
    if: github.ref_name == 'main'
    name: Rebuild
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: recently-contributed
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Install packages
        run: npm install
      - name: Run build
        run: npm run-script build
      - name: Setup git
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Push changes
        run: |
          git add -u
          if git commit -m "Rebuild recently-contributed"; then
            git push
          fi
